@import '../../styles/index.scss';

.RecipeListItem {
    height: 60px;
    border-top: 1px solid $fade-primary-text-color;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    @media screen and (min-width: $tablet) {
        grid-template-columns: 1fr 3fr 2fr 1fr;
    }

    @media screen and (min-width: $desktop) {
        grid-template-columns: 1fr 3fr 2fr 2fr;
    }

    div.recipe-item-container {
        padding: 5px 10px;
        text-align: left;
        display: flex;
        align-items: center;
        // overflow: hidden;
        min-width: 0;

        .text-container {
            overflow: hidden;

            span {
                color: $primary-text-color;
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 500;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
            }
        }

        span {
            color: $primary-text-color;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 500;
        }

        &.tabletView {
            display: none;
        }

        &.desktopView {
            display: none;
        }

        @media screen and (min-width: $tablet) {
            &.tabletView {
                display: flex;
            }
        }

        @media screen and (min-width: $desktop) {
            &.desktopView {
                display: flex;
            }
        }

        .image-container {
            position: relative;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            overflow: hidden;
            width: 100%;
            height: 40px;
            a {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }

        button {
            &:first-child {
                margin-right: 10px;
            }
        }

        &:last-child {
            justify-content: flex-end;
        }

        img {
            max-width: 100%;
        }
    }
}