@import '../../styles/index.scss';
.Container {
    padding: 15px;
    margin: 0 auto;
    max-width: maxWidthContainer;
    @media screen and (min-width: $tablet) {
        padding: 15px 20px;
    }
    @media screen and (min-width: $desktop) {
        padding: 15px 30px;
    }
    @media screen and (min-width: $widescreen) {
        padding: 15px 40px;
    }
}