.HomePage {
    width: 400px;
    height: 400px;
    margin: 50px auto 0 auto;
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        color: red;
    }
}