$primary: #3d8be5;
$secondary: #f4f4f4;
$ternary: #dce3e7;

$primary-text-color: #e9eff6;
$secondary-text-color: #ffffff;

$brand-font: 'League Spartan', sans-serif;

$tablet: 769px;
$desktop: 960px;
$widescreen: 1200px;
$fullhd: 1430px;