$primary: #3d8be5;
$fade-secondary: #f4f4f4;
$secondary: #ffffff;
$ternary: #dce3e7;
$danger: #B00020;

$primary-text-color: #181C32;
$fade-primary-text-color: #a1a5b7;
$secondary-text-color: #ffffff;



$font-family: 'League Spartan', sans-serif;

$tablet: 769px;
$desktop: 960px;
$widescreen: 1200px;
$fullhd: 1430px;

$maxWidthContainer: 1160px;