@import '../../styles/index.scss';
.CheckboxComponent {
    
  input.checkbox-input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  label.checkbox-label {
    position: relative;
    cursor: pointer;
  }
  
  label.checkbox-label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid $primary;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 6px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
  }
  
  input.checkbox-input:checked + label:after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 6px;
    width: 5px;
    height: 11px;
    border: solid $primary;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}